<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>search</title>
    <style>
      .result-item { border: 1px solid #666; margin: 0.5em 1em; }
      .pagination { list-style: none; display: flex; }
      .pagination li { display: inline-block; width: 2em; }
    </style>
  </head>
  <body>
    <h1>検索</h1>
    <form action="/shops/search" method="GET">
      <input type="text" id="q" name="q" value="<%= query %>"/>
      <input type="submit" value="検索" />
    </form>
    <p>結果：<%= count %>件</p>
    <p>
<% for(var i = 0; i < list.length; i++) {%>
<%- include("result-item.ejs", list[i]); %>
<% }%>
    </p>
    <p>
      <ul class="pagination">
<% for (var i = 1; i <= pagination.max; i++) {%>
<%   if (i !== pagination.current) {%>
        <li><a href="/shops/search?q=<%= query %>&pg=<%= i %>"><%= i %></a></li>
<%   } else {%>
        <li><%= i %></li>
<% }}%>
      </ul>
    </p>
  </body>
</html>